body {
    background-image: url("./img/runway1.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15%;
    margin-top:10%;
}

div {
    margin-bottom: 10px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


header {
    width: 100%;
    display:flex;
    justify-content:center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.warning {
    text-align: left;
    font-size: 12px;
    color: red;
    font-family:'Courier New', Courier, monospace;
}

#footer {
    background: rgb(211,211,211, 0.6);
    border: 2px rgb(255,0,0,0.6) solid;
    border-radius:2%;
    padding: 5px;
}

input {
    width: 130px;
}


#aircraft-select {
    font-family:'Courier New', Courier, monospace;
}


#buttonsection {
    padding-top: 25px;
    display:flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

button {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 45%;
    font-family:'Courier New', Courier, monospace;
    font-style: bold;
}

button:hover {  
    cursor: pointer;
}

#time:hover {
    background-color: tan;
    box-shadow: 10px 10px 5px #aaaaaa;
}


#fuel:hover {
    background-color: rgb(0, 153, 255);
    box-shadow: 10px 10px 5px #aaaaaa;
}


#cost:hover {
    background-color: #3e8e41;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#result-display {
    font-size:22px;
    font-style: italic;
}
